div.question {
    margin: 30px 50px 30px 50px;
    border: solid 1px #888;
    padding: 10px;
    background-color: #1b1b1b;

    div.header{
        display: inline-block;
        width: 5%;
        vertical-align: top;
    }

    div.content {
        display: inline-block;
        width: 95%;

        div.label{
            p:first-child {
                font-weight: bold;
                font-size: 1.2em;
            }

            p:not(:first-child) {
                font-size: 1.1em;
                margin:0 0 0 20px;
                padding: 0;
            }

            &.right {
                color: #39c763;
            }

            &.wrong {
                color: #c73939;
            }
        }
    
        div.responses {
            margin-top: 10px;
            margin-left: 40px;
            font-weight: normal;
        }

        div.explaination {
            background: #3e3e3e;
            padding: 7px 20px 7px 20px;
            margin: 10px 0 0 0;
            border-radius: 10px;
        }

        img.question-pic{
            max-height: 60px;
            cursor: pointer;

            border: solid 2px #1f1f1f;

            &:hover {
                border: solid 2px #0154ee;
            }

            &.zoomed {
                max-height: none;
            }
        }
    }
}